body{
    font-family: "Rubik" , "Arial", "sans-serif";
    color: #FFFFFF;
}

.text-center{
    color: white;
}

/*

.container{
    margin: 0 auto;
    width: 100%;
    margin: 0 10%;
    padding: 5%;
}

a{
    text-decoration: none;
    color: #FFFFFF;

}

li{
    display: block;
}

p{
    margin: 0;
    }

button{
    border: 0;
}

/*Global classes*/


