


.innovate{

    margin: 0 auto;
    max-width: 1000px;          /*??*/
    background: #26353B;
}

.innovate__container{

    width: 80%;
 /*   padding: 30px 0px 50px 70px;*/
    padding: 5vh 0vw 6vh 7vw;           /*<,----*/
}

.innovate_title{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px; 
    
}
.innovate_paragraph{

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.innovate_paragraph{
    display: flex;
    justify-content: space-between;

}
