
@media screen and (max-width: 320px) {

    .materials__title{
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 28px !important;
    }

    .materials__paragraph{
        font-size: 14px !important;
        line-height:15px !important;
    
    }
    .materials_container{
        padding-left: 0 !important;
        display: flex;
        flex-direction: column;
    }

    .materials_text{
        max-width: 100%;
        padding-left: 2vw;
        padding-bottom: 2vh;
    }

    .materials__image img{
        max-width: 100%;
    }


}


.materials_container{
    margin: 0 auto;
    max-width: 950px;
    padding-left: 5vw;  /*<<---*/
    display: flex;
    align-items:left;

}

.materials_text{
    width: 465px;
    padding-right: 5vw;
}

.materials__title{

    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    color: #222F33;
    }

    


.materials__paragraph{
Font: Rubik;
font-weight: normal;
font-size: 14px;
line-height:26px;
color: #646D70;
}

.button_read{
    margin-top: 40px;
    border: 1px solid #646D70;
    padding: 10px 13.5px 10px 13.5px;
}

/*
.materials__image{
    width:100%;
}
*/