@keyframes color{
    from{
        color: brown;
    }
    33%{
        color: gray;

    }

    to{
        color: slateblue;
    }
}

@keyframes floating{
    0% {
        transform: translateY(-20px);
        border-color: red;

      }
      50% {
        transform: translateY(0);
        border-color: darkgreen;

      }
      100% {
        transform: translateY(-20px);
        border-color: black;

      }
}