.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10% ;
    padding-right:5%;

}

.header__title
{
    padding-right:20%;
}

.header__nav ul{
    display:flex;
}

.header__nav-item{
    margin-right: 60px;
    font-size: 12px;

}

.header__title{
    font-weight: 500;
    font-size: 20px;
}


