.hero{
    background-image: url(../images/bgimage.svg);
    background-repeat: no-repeat ;
    background-position: center;    /* % or px*/
    padding-top: 2vh;

}


@media screen and (max-width: 320px) {

    .hero__title{
        font-weight: 500 !important;
        font-size: 12px !important;  
        line-height: 19px !important; 
        }

    .hero__paragraph{
        font-size: 16px !important;  
        line-height: 15px !important; 
    }

    .container__text{
        padding-right: 5vw !important;
    }
    .movie{
        font-size: 12px !important;  
    }

    .hero__text{
        width: 50% !important;
        padding-top: 5% !important ;
        padding-left: 5% !important ;
        padding-right: 0% !important;
    }
    .movie{
        font-size:14px !important;
    }    
}

.hero__text{

    width: 440px;

    padding-bottom:15%;
    padding-top: 15%;
    padding-left: 8%;
    padding-right: 10%;
}

.hero__title{

        font-weight: 500;
        font-size: 16px;  
        line-height: 19px;
        color: #FFFFFF;
}

.hero__paragraph{
    font-family: Merriweather;
    font-weight: 900;
    font-size: 30px;  
    line-height: 38px;
}

.movie{
    animation: color 4s;
    animation-iteration-count: infinite;
}






