.hero{
    background-image: url(../images/bgimage.svg);
    background-repeat: no-repeat ;
    background-position: center;    /* % or px*/

    padding: 10px 10px 0;
    min-height: 100%;
    overflow: hidden;
}

.container{
    display: flex;
    align-items:center;
}

.hero__text{

    width: 440px;

    padding-bottom:170px;
    padding-top: 15%;
    padding-left: 8%;
    padding-right: 15%;
}

.hero__title{

        font-weight: 500;
        font-size: 1rem;  
        line-height: 1.1875rem;
        color: #FFFFFF;
}

.hero__paragraph{
    font-family: Merriweather;
    font-weight: 900;
    font-size: 1.875rem;  
    line-height: 2.375rem;
}
.hero_item{
    font-size: 0.75rem;
}


@media screen and (max-width: 768px) {
    .hero{
    background-image: none;
    background-color: #26353B;
    width: 100%;
    padding: 0 0 0 0;
    }

  
    .hero__text{
        
        padding: 5% 25% 2% 25% ;
        text-align: center;
    }

    .hero__title{
        padding: 25% 15% 2% 15% ;
    }

    .movie{
       display: none; 
    }

    .container{
        align-items: center;
    }
}



@media screen and (max-width: 400px) {
    .hero__paragraph{
      font-size: 1.5rem;

    }
    
    .hero__text{
        padding: 0 10% 2% 10%;
    }
    }
